@{
    ViewBag.Title = "Home Page";
}

<h2>Download Imagens:</h2>
<p>
    @Html.ActionLink("Download imagem SOpt - Exemplo 1", "DownloadImagem", "Home", new { @target = "_blank" })
</p>
<p>
    @Html.ActionLink("Download imagem SOpt - Exemplo 2", "DownloadImagem2", "Home", new { @target = "_blank" })
</p>